img{
    position:absolute;
    height:250px;
    width:200px;
    right:0;
    top:-10px;
    padding:2%;
}

a{
    text-decoration:none;
    color:gray;
}

span{
    font-style:italic;
    font-family:Times;
    padding-left:5%;
    
}

.heading{
    font-style:italic;
    float:left;
    font-family:sans-serif;
    width:20%;
    height:100px;
    text-align:right;
}

.detail{
    float:right;
    font-family:sans-serif;
    border-left:1px solid gray;
    width:77%;
    height:100px;
    padding-left:1%;
}

.paragraph{
    color:gray;
    font-family:Times;
    width:78%;
}

.personal{
    float:top;
    right:0;
    left:0;
    border-top:1px solid gray;
    width:100%;
}

/*#education{
    float:top;
    clear:bottom;
}*/