img{
    position:absolute;
    height:250px;
    width:200px;
    right:0;
    top:-10px;
    padding:2%;
}

a{
    text-decoration:none;
    color:gray;
}

span{
    font-style:italic;
    font-family:Times;
    padding-left:5%;
    
}

.paragraph{
    color:gray;
    font-family:Times;
    font-style:italic;
    width:78%;
}

.personal{
    float:top;
    right:0;
    left:0;
    border-top:5px solid gray;
    width:100%;
}

.space{
    width:100%;
    height:20%;
}

.education{
    font-style:italic;
    float:left;
    font-family:sans-serif;
    width:20%;
    height:100px;
    text-align:right;
}

.edu_detail{
    float:right;
    font-family:sans-serif;
    border-left:1px solid gray;
    width:77%;
    height:100px;
    padding-left:1%;
}

.skills{
    font-style:italic;
    float:left;
    font-family:sans-serif;
    width:20%;
    height:100px;
    text-align:right;
}

.ski_detail{
    float:right;
    font-family:sans-serif;
    border-left:1px solid gray;
    width:77%;
    height:100px;
    padding-left:1%;
}

.experience{
    font-style:italic;
    float:left;
    font-family:sans-serif;
    width:20%;
    height:100px;
    text-align:right;
}

.exp_detail{
    float:right;
    font-family:sans-serif;
    border-left:1px solid gray;
    width:77%;
    height:100px;
    padding-left:1%;
}

.hobbies{
    font-style:italic;
    float:left;
    font-family:sans-serif;
    width:20%;
    height:100px;
    text-align:right;
}

.hob_detail{
    float:right;
    font-family:sans-serif;
    border-left:1px solid gray;
    width:77%;
    height:100px;
    padding-left:1%;
}

.references{
    font-style:italic;
    float:left;
    font-family:sans-serif;
    width:20%;
    height:100px;
    text-align:right;
}

.ref_detail{
    float:right;
    font-family:sans-serif;
    border-left:1px solid gray;
    width:77%;
    height:100px;
    padding-left:1%;
}